@let showError = ngControl.invalid && ngControl.touched;

<div class="input-wrapper">
    @if(label()){
        <label [for]="id()" class="text-base text-neutral-dark-700">
            {{ label() }} 
        </label>
    }
    <div class="mt-1">
        <input
            [id]="id()"
            [type]="type()"
            [placeholder]="placeholder()"
            [disabled]="disabled()"
            class="border rounded-xl p-3 w-full placeholder:text-neutral-dark-200 outline-none transition-all duration-300"
            [ngClass]="{
                'border-[#E6E6E6] focus:border-primary-500': !showError,
                'border-red-500 focus:border-red-500': showError,
            }"
            (input)="onInput($event)"
            (blur)="onTouched()"
        />
    </div>
    @if(showError){
        @for(message of errorMessages; let index = $index; track index;){
            <p class="text-red-500 text-xs mt-1">{{ message }}</p>
        }
    }
</div>
