<div class="flex h-screen">
    <!-- Backdrop for mobile -->
    @if (isSidebarOpen()) {
        <div (click)="toggleSidebar()" class="fixed inset-0 bg-black opacity-20 z-10 lg:hidden"></div>
    }

    <!-- Sidebar -->
    <aside 
        class="w-64 lg:w-[310px] fixed lg:relative top-0 left-0 h-full z-20 transform transition-transform duration-300 ease-in-out"
        [ngClass]="{
            '-translate-x-full': !isSidebarOpen(),
            'translate-x-0': isSidebarOpen()
        }"
        [class.lg:translate-x-0]="true"
        [class.lg:block]="true"
        [class.hidden]="!isSidebarOpen()"
    >
        <app-sidebar (toggleSidebar)="toggleSidebar()" />
    </aside>

    <!-- Main Content -->
    <main class="flex-1 p-6">
        <header class="flex items-center gap-3 mb-2">
            <button class="lg:hidden cursor-pointer flex items-center justify-center border border-[#EEEEEE] rounded-lg w-10.5 h-10.5 p-3.5" (click)="toggleSidebar()">
                <!-- Hamburger Icon -->
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 5.83301H17.5" stroke="#292D32" stroke-linecap="round"/>
                    <path d="M2.5 10H17.5" stroke="#292D32" stroke-linecap="round"/>
                    <path d="M2.5 14.167H17.5" stroke="#292D32" stroke-linecap="round"/>
                </svg>
            </button>
            <h3 class="text-xl font-medium capitalize">{{ title() }}</h3>
        </header>
        <ng-content></ng-content>
    </main>
</div>